@*@{
        ViewBag.Title = "Home Page";
    }

    @if (User.IsInRole("Admin"))
    {
        <div>

            <div class="jumbotron">
                <h1 class="display-4">Room Reservation Management</h1>
                <p class="lead">Easily see all conference rooms available at the Mildred Mitchell-Bateman Hospital.</p>
                <p class="lead">Reserve any room of your choice for a desired day and time.</p>
                <hr class="my-4">
                <a class="btn btn-secondary btn-lg" href="/Account/Login" role="button">Log In</a>
            </div>

        </div>
    }*@

@model RoomReservationManagement.Models.res_reservations

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>res_reservations</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.res_dt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.res_dt, new { htmlAttributes = new { @class = "form-control", id = "date" } })
                @Html.ValidationMessageFor(model => model.res_dt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.res_start, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.res_start, new { htmlAttributes = new { @class = "form-control timepicker", name = "start" } })
                @Html.ValidationMessageFor(model => model.res_start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.res_end, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.res_end, new { htmlAttributes = new { @class = "form-control timepicker", name = "end" } })
                @Html.ValidationMessageFor(model => model.res_end, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.room_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.room_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.room_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.res_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.res_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.res_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cat_ind, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_ind, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_ind, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cat_order, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_order, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_order, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.void_ind, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.void_ind, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.void_ind, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(function () {
        $("#date").datepicker({ format: 'dd/MM/yyyy' });
    });

    $('.timepicker').wickedpicker();
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}