@model IEnumerable<RoomReservationManagement.Models.res_rooms>

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Rooms</h1>
<hr />
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A simple example</title>

</head>
<body>

    @foreach (var item in Model)
    {
        <div class="room">
            <div class="panel-group" id="accordion_@item.room_id">
                <div class="panel panel-default" id="panel_@item.room_id">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            <a style="color:#2e9546; " data-toggle="collapse" data-target="#collapseOne_@item.room_id" href="#collapseOne_@item.room_id">
                                @Html.DisplayFor(modelItem => item.room_name)
                            </a>
                        </h1>
                    </div>
                    <div id="collapseOne_@item.room_id" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="card-body">
                                <div class="row">
                                    <div class="column left">
                                        <table>
                                            <tr>
                                                <th>Location:</th>
                                                <td>@Html.DisplayFor(modelItem => item.location)</td>
                                            </tr>
                                            <tr>
                                                <th>Capacity:</th>
                                                <td>@Html.DisplayFor(modelItem => item.room_cap)</td>
                                            </tr>
                                            <tr>
                                                <th>Computers:</th>
                                                <td>@Html.DisplayFor(modelItem => item.num_comp)</td>
                                            </tr>
                                            <tr>
                                                <th>Chairs:</th>
                                                <td>@Html.DisplayFor(modelItem => item.num_chairs)</td>
                                            </tr>
                                            <tr>
                                                <th>Tables:</th>
                                                <td>@Html.DisplayFor(modelItem => item.num_tables)</td>
                                            </tr>
                                            <tr>
                                                <th>Board Type:</th>
                                                <td>@Html.DisplayFor(modelItem => item.board_typ)</td>
                                            </tr>
                                            <tr>
                                                <th>Network Access:</th>
                                                <td>@Html.DisplayFor(modelItem => item.network_ind)</td>
                                            </tr>
                                            <tr>
                                                <th>Telecon System:</th>
                                                <td>@Html.DisplayFor(modelItem => item.telecon_sys)</td>
                                            </tr>
                                            <tr>
                                                <th>Projector:</th>
                                                <td>@Html.DisplayFor(modelItem => item.proj_ind)</td>
                                            </tr>

                                        </table>              
                                    </div>
                                    <div class="column right">
                                        <div id="pan_@item.room_name" class="panorama"></div>
                                    </div>
                                </div>
                                
                                <script>
                    pannellum.viewer('pan_@item.room_name', {
                        "type": "equirectangular",
                        "panorama": "../../Content/Images/@item.room_name" + ".jpg",
                        "autoLoad": false,
                        "autoRotate": -6,
                        "showControls": false,
                        "draggable": true
                    });
                                </script>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>

