@model IEnumerable<RoomReservationManagement.Models.res_rooms>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/pannellum/pannellum.js"></script>
<style>
    #panorama {
        width: 600px;
        height 400px;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table"
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.room_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_cap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_comp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_chairs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_tables)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.board_typ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.network_ind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telecon_sys)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proj_ind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.void_ind)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.room_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_cap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_comp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_chairs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_tables)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.board_typ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.network_ind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telecon_sys)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proj_ind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.void_ind)
        </td>
    </tr>
}
</table>
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A simple example</title>
    <link rel="stylesheet" href="~/Content/pannellum/pannellum.css" />
    <script type="text/javascript" src="~/Content/pannellum/pannellum.js"></script>
    <style>
        #panorama {
            width: 600px;
            height: 400px;
        }
    </style>
</head>
<body>

    <div id="panorama"></div>
    <script>
        pannellum.viewer('panorama', {
            "type": "equirectangular",
            "panorama": "../../Content/Images/sample2.jpg"
        });
    </script>

</body>
</html>