@model IEnumerable<RoomReservationManagement.Models.res_rooms>

@{
    ViewBag.Title = "ManageRooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Rooms</h2>
<hr />
<p>
    @Html.ActionLink("Add New Room", "AddNewRoom")
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>
            <th>
                Enabled
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.room_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.location)
    </td>
    @if (item.void_ind == "n")
    {
        <td>
            Y
        </td>
    }
    else
    {
        <td>
            N
        </td>
    }

<td>
    @Html.ActionLink("Edit", "EditRoom", new { id = item.room_id }, new { @class = "btn btn btn-info" })
    @Html.ActionLink("Enable", "EnableRoom", new { id = item.room_id }, new { @class = "btn btn btn-success" })
    @Html.ActionLink("Disable", "DisableRoom", new { id = item.room_id }, new { @class = "btn btn btn-danger" })
</td>
</tr>
}

</table>
