@model RoomReservationManagement.Models.res_reviews

@{
	ViewBag.Title = "addReview";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>New Review</h2>
<hr />

@using (Html.BeginForm("addReview", "Review", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.room_id, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.room_id, new SelectList(ViewBag.roomList, "room_id", "room_name"), "", new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.room_id, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.rating, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.rating, new SelectList(ViewBag.ratingValues, "ratingValue", "userView"), "", new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.rating, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.review, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.TextAreaFor(model => model.review, new { htmlAttributes = new { @class = "form-control" }, style = "resize: none; width: 900px; height: 150px;" })
			@Html.ValidationMessageFor(model => model.review, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-secondary" />
		</div>
	</div>

</div>
}

@if (ViewBag.successValue)
{
	//used to display success message after a reservation is made
	<script>
		Swal.fire(
			'Success!',
			'Your review has been submitted.',
			'success'
		).then(function (result) {
			window.location = '/';
		})
	</script>
}




